/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

}

.main-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-container h2 {
  margin: 0 0 40px 0;
  color: #8373e6;
  font-size: 25px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.radio-buttons {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  
}

.custom-radio input {
  display: none;
  
}

.radio-btn {
  margin: 20px;
  width: 220px;
  height: 220px;
  border: 3px solid#8373e6;
  display: inline-block;
  border-radius: 10px;
  position: relative;
  text-align: center;
  box-shadow: 0 0 20px #c3c3c367;
  cursor: pointer;
} 

.green   {
  color: #ffffff;
  background-color: #8373e6;
  font-size: 20px;
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translate(-50%) scale(4);
  border-radius: 50px;
  padding: 3px;
  transition: 0.2s;
  pointer-events: none;
  opacity: 0;
}

.radio-btn .hobbies-icon {
  width: 180px;
  height: 80px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.radio-btn .blue {
  color: #8373e6;
  line-height: 80px;
  font-size: 60px;
}

.radio-btn .hobbies-icon h3 {
  color: #8373e6;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 500;
  margin-top: 20px;
  text-transform: uppercase;
}

.custom-radio  + .radio-btn {
  border: 3px solid blue;
}

.custom-radio input:checked+.radio-btn {
  border: 3px solid blue;
}

.custom-radio input:checked + .radio-btn .green{
  opacity: 1;
  transform: translate(-50%);
}

form {
  background: #8373e6;
  
  width: 500px;
  color: white;
  margin: auto;
  border: 2px solid white;
  padding: 40px;
  font-size: 20px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  }

input[type=text] {
  width: 100%;
  padding: 5px;
  font-size: 18px;

}

select  {
  width: 40%;
  padding: 2px;
  font-size: 18px;
}

input[type=button] {
  width: 20%;
  padding: 2px;
  font-size: 20px;
  background-color: rgb(32, 95, 32);
  color: white;
  border-radius: 10%;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover { */
  /* background-color: #ddd; */
  @import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
  
  }
  
  .main-container {
    
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .main-container h2 {
    margin: 0 0 40px 0;
    color: blue;
    font-size: 25px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
  }
  
  .radio-buttons {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    
  }
  
  .custom-radio input {
    display: none;
    
  }
  
  .radio-btn {
    margin: 20px;
    width: 220px;
    height: 180px;
    border: 3px solid blue;
    display: inline-block;
    border-radius: 10px;
    position: relative;
    text-align: center;
    box-shadow: 0 0 20px #c3c3c367;
    cursor: pointer;
  } 
  
  .green   {
    color: #ffffff;
    background-color: blue;
    font-size: 20px;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translate(-50%) scale(4);
    border-radius: 50px;
    padding: 3px;
    transition: 0.2s;
    pointer-events: none;
    opacity: 0;
  }
  
  .radio-btn .hobbies-icon {
    width: 180px;
    height: 80px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  
  }
  
  .radio-btn .blue {
    color: blue;
    line-height: 80px;
    font-size: 60px;
  }
  
  .radio-btn .hobbies-icon h3 {
    color:blue;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
    text-transform: uppercase;
  }
  
  .custom-radio  + .radio-btn {
    border: 3px solid blue;
  }
  
  .custom-radio input:checked+.radio-btn {
    border: 3px solid #8373e6;
  }
  
  .custom-radio input:checked + .radio-btn .green{
    opacity: 1;
    transform: translate(-50%);
  }
  
  form {
    background: #8373e6;
    width: 500px;
    color: white;
    margin: auto;
    border: 2px solid white;
    padding: 20px;
    font-size: 20px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
  
  input[type=text] {
    width: 100%;
    padding: 5px;
    font-size: 18px;
  
  }
  
  select  {
    width: 40%;
    padding: 5px;
    font-size: 18px;
  }
  
  input[type=button] {
    width: 20%;
    padding: 5px;
    font-size: 20px;
    background-color:blue;
    color: white;
    border-radius: 10%;
  }
  
  a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .previous {
    background-color: #f1f1f1;
    color: black;
  }
  
  .next {
    background-color: blue;
    color: white;
  }
  
  .round {
    border-radius: 20%;
  }
  /* @media screen and (max-width: 1150px){
  .col {
   width: 630px; 
  }
  form {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  } */
  
  @media screen and (max-width: 750px){
    
    .radio-btn .hobbies-icon h3 {
      color: blue;
      font-family: "Poppins", sans-serif;
      font-size: 18px;
      font-weight: 500;
      margin-top: 20px;
      text-transform: uppercase;
    }

.hobb2 {

}

  .radio-btn {
    height: 140px;
    display: inline-block;
  margin-bottom: 0px;
    
  }
  
  .radio-btn2 {
height: 170px;

  }
    
  
    .contact {
    height: 400px;
    width: 400px;
    font-size: 20px;
    padding-top: 50px;
  }
  form {
  width: 400px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
   
  } 

}
